In [1]:
%load_ext sql

In [10]:
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy as sa

In [5]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")
DWH_ENDPOINT = config.get("DWH","DWH_ENDPOINT")

In [24]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
%sql $conn_string

'Connected: awsuser@dev'

In [11]:
engine = sa.create_engine(conn_string)

In [21]:
stmt = """
-- top artists
select a.name,
       count(*) num
from songplays
         join artists a on songplays.artist_id = a.artist_id
         join songs s on songplays.song_id = s.song_id
group by a.name
order by num desc
limit 10;
"""

In [22]:
with engine.connect() as con:
    df = pd.read_sql(stmt, con)

In [23]:
df

                                             name  num
0                                   Dwight Yoakam   37
1                  Kid Cudi / Kanye West / Common   10
2                                        Kid Cudi   10
3                                      Ron Carter    9
4                                   Lonnie Gordon    9
5                                           B.o.B    8
6                                           Usher    6
7                                            Muse    6
8                  Usher featuring Jermaine Dupri    6
9  Richard Hawley And Death Ramps_ Arctic Monkeys    5

In [7]:
# %load analytics.py
-- analytics

-- time
select t.weekday,
       u.level,
       u.gender,
       count(*) num
from songplays
         join times t on songplays.start_time = t.start_time
         join users u on songplays.user_id = u.user_id
where t.year = 2018
group by t.weekday, u.level, u.level, u.gender
order by t.weekday, u.level, u.level, u.gender;

-- level and gender
select users.level,
       users.gender,
       count(*) num
from songplays
         join users on songplays.user_id = users.user_id
group by users.level, users.gender
order by num desc;


-- top users
select users.first_name,
       users.last_name,
       count(*) num
from songplays
         join users on songplays.user_id = users.user_id
group by users.user_id, users.first_name, users.last_name
order by num desc
limit 10;

-- top song titles
select s.title,
       count(*) num
from songplays
         join artists a on songplays.artist_id = a.artist_id
         join songs s on songplays.song_id = s.song_id
group by s.title
order by num desc
limit 10;

-- top artists
select a.name,
       count(*) num
from songplays
         join artists a on songplays.artist_id = a.artist_id
         join songs s on songplays.song_id = s.song_id
group by a.name
order by num desc;